<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User list</title>
</head>
<body>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
    <th>ID</th>
    <th>Login</th>
<!--    <th>Birthday</th>-->
    <th>Email</th>
    <th>Balance</th>
    <th>CourseGot</th>
    <th>CourseOffered</th>
    <th>Actions</th>
    </thead>

    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
<!--        <td th:text="${user.birthDate}"></td>-->
        <td th:text="${user.email}"></td>
        <td th:text="${user.balance}"></td>
        <td><a th:href="@{'/user/' + ${user.login}}"><i class="fa fa-edit"></i></a>
            <a th:href="@{'/user/delete/' + ${user.login}}"> <i class="fa fa-trash"></i> </a>
        </td>
    </tr>

    </tbody>
    </tbody>


</table>

</body>
</html>
